<!DOCTYPE html>
<html>
    <head>
        <title>Busco Ayuda</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Libraries -->
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </head>
  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><img alt="Busco Ayuda"></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href=""><i class="fa fa-list"> Independientes</i></a></li>
                    <li><a href="tiposDeServicios"><i class="fa fa-cogs"> Servicios</i></a></li>
                    <li><a href=""><i class="fa fa-comment"> Comentarios</i></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user">Administrador</i>
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="admin"><i class="fa fa-user-secret"> administrar</i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% for trabajador in trabajadores %}
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
          <img src= "{{ trabajador.imagen}}" style="min-width: 200px; min-height: 300px;">
          <div class="caption">
            <h3>{{trabajador.nombre}} {{ trabajador.apellidos}}</h3>
            <p>Teléfono: {{trabajador.telefono}}</p>
              <p>Servicio: {{trabajador.tiposDeServicio.nombre}}</p>
              <p>Experiencia: {{trabajador.aniosExperiencia}} años</p>
            <p><a href="#" class="btn btn-primary" role="button">Ver información</a> <a href="#" class="btn btn-default" role="button">Contactar</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
</body>
</html>